language: python

dist: xenial

cache: false

python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "3.5"
  - "3.6"
  - "3.7"

before_install:
  # List package dependencies for conda
  - CONDA_DEPS="cython matplotlib pytest coverage coveralls pytest-cov numpy scipy"
  - sudo apt-get update
  # Here we download miniconda and install the dependencies
  - export MINICONDA=$HOME/miniconda
  - export PATH="$MINICONDA/bin:$PATH"
  - hash -r
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -f -p $MINICONDA
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  - conda create -q -n testenv python=$TRAVIS_PYTHON_VERSION $CONDA_DEPS
  - source activate testenv
  - pip install -r requirements.txt
  - pip install -r requirements_test.txt

install:
  - python setup.py build_ext --inplace --force --define CYTHON_TRACE

script:
  - py.test panels -v --cov coveralls --cov-report term-missing

after_success:
  - coveralls

notifications:
  email:
    on_success: change
    on_failure: change

